# Practice Problems
4.1

Start by executing the assignment:
s = '0123456789'
Now write expressions using string s and the indexing operator that evaluate to:
(a) '234'
(b) '78'
(c) '1234567'
(d) '0123'
(e) '789'

In [5]:
s= '0123456789'

In [10]:
#(a),(b),(c),(d),(e)
s[2:5],s[7:9],s[1:8],s[:4],s[7:]

('234', '78', '1234567', '0123', '789')

4.2

Assuming that variable forecast has been assigned string
'It will be a sunny day today'
write Python statements corresponding to these assignments:
(a) To variable count, the number of occurrences of string 'day' in string forecast.
(b) To variable weather, the index where substring 'sunny' starts.
(c) To variable change, a copy of forecast in which every occurrence of substring
'sunny' is replaced by 'cloudy'.

In [11]:
forecast='It will be a sunny day today'

In [13]:
#(a)
count=forecast.count('day')
#(b)
weather=forecast.find('sunny')
#(c)
change=forecast.replace('sunny','cloudy')

4.3

Write a statement that prints the values of variables last, first, and middle in one line,
separated by a horizontal tab character. (The Python escape sequence for the horizontal tab
character is \t.) If the variables are assigned like this:
last = 'Smith'
first = 'John'
middle = 'Paul'
the output should be:
Smith John Paul

In [14]:
last='Smith'
first='John'
middle='Paul'

In [16]:
print(last,first,middle,sep='\t')

Smith	John	Paul

4.4

Write function even() that takes a positive integer n as input and prints on the screen all
numbers between, and including, 2 and n divisible by 2 or by 3, using this output format:
even(17)
2, 3, 4, 6, 8, 9, 10, 12, 14, 15, 16,

In [23]:
def even(n):
    for i in range(2, n+1):
        if i%2 == 0 or i%3 == 0:
            print(i, end=', ')
even(17)

2, 3, 4, 6, 8, 9, 10, 12, 14, 15, 16,

4.5

Assume variables first, last, street, number, city, state, zipcode have already
been assigned. Write a print statement that creates a mailing label:
John Doe
123 Main Street
AnyCity, AS 09876

In [24]:
first = 'John'
last = 'Doe'
street = 'Main Street'
number = 123
city = 'AnyCity'
state = 'AS'
zipcode = '09876'

In [32]:
print(first,last,'\n',number,street,'\n',city,state,',',zipcode)

John Doe
 123 Main Street
 AnyCity AS , 09876

4.6

Implement function roster() that takes a list containing student information and prints
out a roster, as shown below. The student information, consisting of the student’s last name,
first name, class, and average course grade, will be stored in that order in a list. Therefore,
the input list is a list of lists. Make sure the roster printed out has 10 slots for every string
value and 8 for the grade, including 2 slots for the decimal part.

In [1]:
students = []
students.append(['DeMoines', 'Jim', 'Sophomore', 3.45])
students.append(['Pierre', 'Sophie', 'Sophomore', 4.0])
students.append(['Columbus', 'Maria', 'Senior', 2.5])
students.append(['Phoenix', 'River', 'Junior', 2.45])
students.append(['Olympis', 'Edgar', 'Junior', 3.99])

In [2]:
def roster(students):
    'prints average grade for a roster of students'
    print('Last First Class Average Grade')
    for student in students:
        print('{:10}{:10}{:10}{:8.2f}'.format(student[0],student[1], student[2], student[3]))

In [3]:
roster(students)

Last First Class Average Grade
DeMoines  Jim       Sophomore     3.45
Pierre    Sophie    Sophomore     4.00
Columbus  Maria     Senior        2.50
Phoenix   River     Junior        2.45
Olympis   Edgar     Junior        3.99

4.7

Start by setting t to be the local time 1, 500, 000, 000 seconds from the start of January 1,
1970 UTC:
 import time
 t = time.localtime(1500000000)
Construct the next strings by using the string time format function strftime():
(a) 'Thursday, July 13 2017'
(b) '09:40 PM Central Daylight Time on 07/13/2017'
(c) 'I will meet you on Thu July 13 at 09:40 PM.'

In [22]:
import time
t=time.localtime(1500000000)

In [23]:
#(a)
print(time.strftime('%A, %B %d %Y', t))
#(b)
print(time.strftime('%I:%M %p %Z Central Daylight Time on %m/%d/%Y',t))
#(c)
time.strftime('I will meet you on %a %B %d at %I:%M %p.', t)

Friday, July 14 2017
08:10 AM India Standard Time Central Daylight Time on 07/14/2017

'I will meet you on Fri July 14 at 08:10 AM.'

4.8

Write function stringCount() that takes two string inputs—a file name and a target string—
and returns the number of occurrences of the target string in the file.

In [13]:
def stringCount(filename, target):
    infile = open(filename)
    content = infile.read()
    infile.close()
    return content.count(target)

## Exercises
4.12

In [2]:
s='abcdefghijklmnopqrstuvwxyz'

In [9]:
print(s[1:4])
print(s[0:3])
print(s[3:-2])
print(s[-4:-1])
print(s[-4:])

bcd
abc
defghijklmnopqrstuvwx
wxy
wxyz

4.13

In [17]:
#(a)
print(s[1:3])
#(b)
print(s[:14])
#(c)
print(s[14:])
#(d)
print(s[1:-3])

bc
abcdefghijklmn
opqrstuvwxyz
bcdefghijklmnopqrstuvw

4.14

In [21]:
#(a)
log='128.0.0.1 - - [12/Feb/2011:10:31:08 -0600] "GET /docs/test.txt HTTP/1.0"'
log

'128.0.0.1 - - [12/Feb/2011:10:31:08 -0600] "GET /docs/test.txt HTTP/1.0"'

In [20]:
#(b)
adress=log.split(' ')[0]
adress

'128.0.0.1'

In [25]:
#(c)
date=log[14:43]
date

'[12/Feb/2011:10:31:08 -0600] '

4.15

In [30]:
s=['10', '20', '30', '40', '50', '60']

In [27]:
#(a)
s

['10', '20', '30', '40', '50', '60']

4.17

In [38]:
#(a)
message='The secret of this message is that it is secret.'

In [39]:
#(b)
length=len(message)
length

48

In [41]:
#(c)
count=message.count('secret')
count

2

In [42]:
#(d)
censored=message.replace('secret','xxxxxx')
censored

'The xxxxxx of this message is that it is xxxxxx.'